{% extends 'layout/base.html' %}

{% block content %}
<!-- Header START -->
<header>
  <!-- Navigation Bar on the top, for medium and small devices -->
  <div class="brand-logo hide-on-large-only"></div>
  <div class="navbar-fixed hide-on-large-only">
    <nav>
      <div class="nav-wrapper">
        <ul class="right">
          <li class="hide-on-small-only"><a href="#search-in-modal" class="modal-trigger"><i class="material-icons">search</i></a></li>
          <li class="hide-on-small-only"><a href="account.html"><i class="material-icons">perm_identity</i></a></li>
          <li class="hide-on-small-only"><a href="login.html" target="_blank"><i class="material-icons">exit_to_app</i></a></li>
          <li class="toogle-side-nav"><a href="#" data-activates="slide-menu" class="button-collapse"><i class="material-icons">menu</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- Side Navigation - fixed for large (nice scroll with Simplebar plugin), slide/drag for medium and small devices -->
  <div id="slide-menu" class="side-nav fixed" data-simplebar-direction="vertical">
    <ul class="side-nav-main">
      <li class="logo hide-on-med-and-down">
          LoGo

      </li>
      <!-- ini Nav sair -->
      <li class="side-nav-inline hide-on-med-only">
          <a href="login.html" class="inline waves-effect" target="_blank">
              <i class="mdi-action-exit-to-app"></i>
          </a>
          <a href="account.html" class="inline waves-effect">
              <i class="mdi-action-perm-identity"></i>
          </a>
          <a href="#search-in-modal" class="inline waves-effect modal-trigger">
              <i class="mdi-action-search"></i>
          </a>
      </li>
      <!-- Fim Nav sair -->
      <li>
          <a href="index.html" class="waves-effect">
              <i class="mdi-action-dashboard left"></i>
              <span>Dashboard</span>
          </a>
      </li>
      <li>
          <a class="waves-effect">
            <i class="mdi-action-description left"></i>
            <span>Pages</span></span>
          </a>
      </li>
      <li>
          <a class="waves-effect">
              <i class="mdi-editor-format-paint left"></i>
              <span>CSS</span>
          </a>

      </li>
      <li>
          <a class="waves-effect">
              <i class="mdi-av-web left"></i>
              <span>Elements</span>
          </a>
      </li>
      <li>
          <a class="waves-effect">
              <i class="mdi-action-extension left"></i>
              <span>Javascripts</span>
          </a>
      </li>
    </ul>
  </div>
</header>
<!-- Header END -->
<!-- Main Start -->
<main>
  <div class="container">

    <div class="section">

	  <div class="row">
	  <div class="col s12">

	  </div>
	  </div>
	</div>
    <div class="section">

    </div>
  </div>
</main>
{% endblock content %}