<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">

    <title>Sistema de Diagnostico</title>
    <!-- -------------------------------------------------+
        Template Styles
    +-------------------------------------------------- -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="{%  static 'assets/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen">
        <!-- Additional plugins styles -->
    <link href="{%  static 'assets/css/prism.css' %}" type="text/css" rel="stylesheet" media="screen">
    <link href="{%  static 'assets/css/simplebar.css' %}" type="text/css" rel="stylesheet" media="screen">
</head>

<body>
<!-- Header START -->
<header>
  <!-- Navigation Bar on the top, for medium and small devices -->
  <div class="brand-logo hide-on-large-only"></div>
  <div class="navbar-fixed hide-on-large-only">
    <nav>
      <div class="nav-wrapper">
        <ul class="right">
          <li class="hide-on-small-only"><a href="#search-in-modal" class="modal-trigger"><i class="material-icons">search</i></a></li>
          <li class="hide-on-small-only"><a href="account.html"><i class="material-icons">perm_identity</i></a></li>
          <li class="hide-on-small-only"><a href="login.html" target="_blank"><i class="material-icons">exit_to_app</i></a></li>
          <li class="toogle-side-nav"><a href="#" data-activates="slide-menu" class="button-collapse"><i class="material-icons">menu</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- Side Navigation - fixed for large (nice scroll with Simplebar plugin), slide/drag for medium and small devices -->
  <div id="slide-menu" class="side-nav fixed" data-simplebar-direction="vertical">
    <ul class="side-nav-main">
      <li class="logo hide-on-med-and-down">
          LoGo

      </li>
      <!-- ini Nav sair -->
      <li class="side-nav-inline hide-on-med-only">
          <a href="login.html" class="inline waves-effect" target="_blank">
              <i class="mdi-action-exit-to-app"></i>
          </a>
          <a href="account.html" class="inline waves-effect">
              <i class="mdi-action-perm-identity"></i>
          </a>
          <a href="#search-in-modal" class="inline waves-effect modal-trigger">
              <i class="mdi-action-search"></i>
          </a>
      </li>
      <!-- Fim Nav sair -->
      <li>
          <a href="index.html" class="waves-effect">
              <i class="mdi-action-dashboard left"></i>
              <span>Dashboard</span>
          </a>
      </li>
      <li>
          <a class="waves-effect">
            <i class="mdi-action-description left"></i>
            <span>Pages</span></span>
          </a>
      </li>
      <li>
          <a class="waves-effect">
              <i class="mdi-editor-format-paint left"></i>
              <span>CSS</span>
          </a>

      </li>
      <li>
          <a class="waves-effect">
              <i class="mdi-av-web left"></i>
              <span>Elements</span>
          </a>
      </li>
      <li>
          <a class="waves-effect">
              <i class="mdi-action-extension left"></i>
              <span>Javascripts</span>
          </a>
      </li>
    </ul>
  </div>

  <!-- Search in Modal END -->
</header>
<!-- Header END -->
<!-- Main Start -->
<main>
  <div class="container">

    <div class="section">

	  <div class="row">
	  <div class="col s12">

	  </div>
	  </div>
	</div>


    <div class="section">

    </div>
  </div>
</main>
<!-- Main End -->


<!-- jQuery Library -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!-- jQuery Plugins -->
<script type="text/javascript" src="{%  static 'assets/js/prism.js' %}"></script>
<script type="text/javascript" src="{%  static 'assets/js/simplebar.min.js' %}"></script>
<!--materialize js-->
<script type="text/javascript" src="{%  static 'assets/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'assets/js/initialize.js' %}"></script>


</body>
</html>