<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">

    <title>Sistema de Diagnóstico</title>

    {% include 'layout/stylesheet.html' %}

    {% block contentCss %} {% endblock %}

</head>
<body>

    {% if request.path != '/admin/' and request.path != '/admin/register' and request.path != '/admin/resetPass'   %}
        {% include 'layout/menu.html' %}
    {% endif %}

    {% block content %} {% endblock %}

    <input type="hidden" id="pathPage" value="{{ request.path }}"/>
</body>
    {% include 'layout/search-popup.html' %}
    {% include 'layout/scripts.html' %}
    {% block contentJs %} {% endblock %}

</html>