{% load staticfiles %}
<header>
  <div class="brand-logo hide-on-large-only"></div>
  <div class="navbar-fixed hide-on-large-only">
    <nav>
      <div class="nav-wrapper">
        <ul class="right">
          <li class="hide-on-small-only">
              <a href="#search-in-modal" class="modal-trigger">
                  <i class="material-icons">search</i>
              </a>
          </li>
          <li class="hide-on-small-only">
             <a  href="{% url 'account' %}" >
                  <i class="material-icons">perm_identity</i>
             </a>
          </li>
          <li class="hide-on-small-only">
              <a href="{% url 'logout' %}" target="_blank">
                  <i class="material-icons">exit_to_app</i>
              </a>
          </li>
          <li class="toogle-side-nav">
              <a href="#" data-activates="slide-menu" class="button-collapse">
                  <i class="material-icons">menu</i>
              </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div id="slide-menu" class="side-nav fixed" data-simplebar-direction="vertical">
    <ul class="side-nav-main">
      <li class="logo hide-on-med-and-down">
         <img src="{%static 'assets/img/logo.png'  %}" alt="logo" class="circle logo responsive-img">
      </li>

      <li class="side-nav-inline hide-on-med-only">
          <a href="{% url 'logout' %}" class="inline waves-effect">
              <i class="mdi-action-exit-to-app"></i>
          </a>
          <a  href="{% url 'account' %}" class="inline waves-effect">
              <i class="mdi-action-perm-identity"></i>
          </a>
          <a href="#search-in-modal" class="inline waves-effect modal-trigger">
              <i class="mdi-action-search"></i>
          </a>
      </li>

      <li>
          <a href="{% url 'home' %}" href="#" class="waves-effect">
              <i class="mdi-action-dashboard left"></i>
              <span>Home</span>
          </a>
      </li>

      {% if  user.is_superuser %}
          <li>
              <a href="{% url 'classifier' %}"  class="waves-effect">
                  <i class="mdi-action-extension left"></i>
                  <span>Classificadores</span>
              </a>
          </li>
          <li>
              <a href="{% url 'user' %}" class="waves-effect">
                  <i class="mdi-action-description left"></i>
                  <span>Usuários</span>
              </a>
          </li>
      {% endif %}
    </ul>
  </div>
</header>
