{% load staticfiles %}
<!-- jQuery Library -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!-- jQuery Plugins -->
<script type="text/javascript" src="{%  static 'assets/js/prism.js' %}"></script>
<script type="text/javascript" src="{%  static 'assets/js/simplebar.min.js' %}"></script>
<!--materialize js-->
<script type="text/javascript" src="{%  static 'assets/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'assets/js/initialize.js' %}"></script>