{% extends 'layout/base.html' %}

{% block content %}
    <main>
      <div class="container">
        <div class="section">
            {% include 'layout/filter.html' %}
        </div>
        <div class="section">
          <div class="row">
              <div class="col s12">
                  <table class="striped">
                        <thead>
                          <tr>
                              <th data-field="codigo">Código</th>
                              <th data-field="name">Nome</th>
                              <th data-field="type">Tipo</th>
                          </tr>
                        </thead>

                        <tbody>
                        {% for disease in diseases %}
                            <tr>
                              <td>0001</td>
                              <td>psoríase</td>
                              <td>test</td>
                              <td><i class="material-icons">edit</i></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                  </table>
                  {% include 'layout/pagination.html' %}

                  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                      <a href="{% url  'add' %}" class="btn-floating btn-large primary-color">
                          <i class="material-icons">add</i>
                      </a>
                  </div>
                 </div>
              </div>
          </div>
      </div>
    </main>
{% endblock content %}