<div id="password" style="display: none;">
	<form action="{% url 'account/update' %}" method="post">
		<div class="form-pad">
		         {% csrf_token %}
			    <div class="row">
					<div class="col s12">
						<div class="input-field">
							<input name="cupassword" id="current" type="password" class="validate">
							<label for="current">Senha Atual</label>
						</div>
						<div class="input-field">
							<input id="new" type="password"  
							 name="password" class="validate">
							<label for="new">Nova Senha</label>
						</div>
						<div class="input-field">
							<input id="re-type-new" name="reppassword" type="password" class="validate">
							<label for="re-type-new">Repita nova Senha</label>
						</div>
						<div class="buttons">
							<button class="waves-effect waves-light btn" type="submit" name="action1">
							  <i class="material-icons right">done</i>Alterar</button>
							
						</div>
					</div>
				</div>
		</div>
	</form>
</div>