   <div id="privacy" style="display: none;">
		   <form>
		   <div class="form-pad">
		    <div class="row">
				<div class="col s12">
				      <div class="row" style="margin-top: 20px;">
					 
					  <!--<div class="divider"></div> -->
					  <div class="row" style="margin-top: 20px;">
						<!-- Switch Title -->
						<div class="col s12 m8">
							<span>Receber Notificação de Atualização</span>
						</div>
						<!-- Switch -->
						<div class="col s12 m4">
						  <div class="switch right">
							<label>
								Off
								<input type="checkbox">
								<span class="lever"></span>
								On
							</label>
						  </div>
					    </div>
					  </div>
					  <div class="divider"></div>
					<div class="buttons" style="margin-top: 20px;">
						<button class="waves-effect waves-light btn" type="submit" name="action1"><i class="material-icons right">done</i>Alterar</button>
						<button class="waves-effect waves-light btn blue-grey lighten-2" type="submit" name="action2"><i class="material-icons right">clear</i>Cancelar</button>
					</div>
				</div>
			</div>
		   </div>
   </form>
</div>