{% load staticfiles %}
<div id="personal" style="display: block;">
		   <form>
		   <div class="form-pad">
		    <div class="row">
				<div class="col s12 m8 push-m4">
				<!-- Personal info FIELDS -->
					<div class="input-field">
						<input id="first_name" type="text" class="validate" value="{{ user.first_name }}">
						<label for="first_name" class="active">Nome</label>
					</div>
					<div class="input-field">
						<input id="phone" type="tel" class="validate" value="">
						<label for="phone" class="active">Telefone</label>
					</div>
					<div class="input-field">
						<input id="email" type="email" class="validate" value="{{ user.email }}">
						<label for="email" data-error="wrong" data-success="right" class="active">Email</label>
					</div>

				</div>
				<div class="col s12 m4 pull-m8">
					<!-- Personal info PROFILE PHOTO -->
				  <div class="form-pad center-align">
					<img class="responsive-img circle" src="{%static 'assets/img/user-icon.svg'  %}">
					<div class="file-field input-field">
						<div class="btn no-float primary-color">
							<i class="material-icons large">file_upload</i>
							<input type="file">
						</div>
						<div class="file-path-wrapper hide">
							<input class="file-path validate center-align" type="text">
						</div>
					</div>
				  </div>
				</div>
			</div>
			<!-- Save Cancel -->
			<div class="row">
				<div class="col s12 m8 push-m4 buttons">
				   <button class="waves-effect waves-light btn" type="submit" name="action1"><i class="material-icons right">done</i>Alterar</button>
				   <button class="waves-effect waves-light btn blue-grey lighten-2" type="submit" name="action2"><i class="material-icons right">clear</i>Cancelar</button>
			    </div>
			</div>
		</div>
	</form>
</div>







